html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(12, 48, 71, 0.795);
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 60%;
    background: transparent;
}

input[type="file"] {
    display: none;
}

/* stylizacja kwadracika do przesuwania */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}
/* stylizacja kwadracika do przesuwania dla firefoxa */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
}
/* stylizacja kwadracika do przesuwania dla IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
}

/* stylizacja paska dla każdej przeglądarki */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#canvas {
    margin-top: 2px;
    height: 100%;
    width: 50%;
    outline-style: dashed;
    outline-width: 2px;
}

#control {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#loader:active {
    border-style: inset;
}

#grayscale {
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

#grayscale:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

#grayscale:focus {
    outline: none;
}

#images{
    width: 90%;
    height: 100%;
    background-color: rgb(2, 21, 34);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#images > span {
    color: white;
    font-size: 18px;
    font-style: bold;
    letter-spacing: 1px;
}

#images::-webkit-scrollbar {
    width: 0px;
}

#images::-moz-scrollbar{
    width: 0px;
}

#images::-o-scrollbar{
    width: 0px;
}

#side-btn, #side-btn:active, #side-btn:focus {
    width: 10%;
    height: 100%;
    background-color: darkgray;
    margin: 0;
    outline: none;
    border: none;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: black;
    z-index: 10;
    display: flex;
}

.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: black;
    z-index: 10;
    display: flex;
    transform: translate(0%);
    -webkit-animation: slide-on 0.3s normal linear;
    -moz-animation: slide-on 0.3s normal linear;
    -o-animation: slide-on 0.3s normal linear;
    animation: slide-on 0.3s normal linear;
}

.hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: black;
    z-index: 10;
    display: flex;
    transform: translate(-90%);
    -webkit-animation: slide-off 0.3s normal linear;
    -moz-animation: slide-off 0.3s normal linear;
    -o-animation: slide-off 0.3s normal linear;
    animation: slide-off 0.3s normal linear;
}

.side-img {
    margin-top: 10px;
    width: 100%;
    height: 20%;
    z-index: 10;
}

.material-icons.md-36{
    position: relative;
    font-size: 36px;
    right: 12px;
}

.label-txt {
    font-family: "Lucida Console";
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.label-txt:hover {
    mix-blend-mode: color-burn;
    font-style: white;
}

.file-input {
    margin-top: 1%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    mix-blend-mode: hard-light;
    background-color: rgba(12, 48, 71, 0.795);
    color: white;
    max-width: 20%;
}

.file-input:hover {
    mix-blend-mode: color-burn;
    background-color: rgba(12, 48, 71, 0.795);
    color: white;
}

/* ANIMATIONS */

@-webkit-keyframes slide-off {
    0% {transform: translate(0%) }
    100% {transform: translate(-90%) };
}
@-moz-keyframes slide-off {
    0% {transform: translate(0%) }
    100% {transform: translate(-90%) };
}
@-o-keyframes slide-off {
    0% {transform: translate(0%) }
    100% {transform: translate(-90%) };
}
@keyframes slide-off {
    0% {transform: translate(0%) }
    100% {transform: translate(-90%) };
}

@-webkit-keyframes slide-on {
    0% {transform: translate(-90%) };
    100% {transform: translate(0%) }
}
@-moz-keyframes slide-on {
    0% {transform: translate(-90%) };
    100% {transform: translate(0%) }
}
@-o-keyframes slide-on {
    0% {transform: translate(-90%) };
    100% {transform: translate(0%) }
}
@keyframes slide-on {
    0% {transform: translate(-90%) };
    100% {transform: translate(0%) }
}

/* END OF ANIMATIONS */

/* RWD */



@media only screen and (max-width:1280px){
    label {
        margin-top: 3%
    }

    #canvas {
        width: 80%
    }
    
    #grayscale {
        width: 20%;
        margin-top: 3%;
    }
    
    #sidebar {
        width: 40%;
    }
    .side-img {
        width: 80%;
        height: 30%;
    }
}

@media only screen and (max-width:800px){
    label {
        margin-top: 3%
    }

    #canvas {
        width: 100%
    }
    
    #grayscale {
        width: 20%;
        margin-top: 3%;
    }
    
    #sidebar {
        width: 60%;
    }

    .file-input {
        width: 30%;
    }
    .side-img {
        width: 100%;
        height: 30%;
    }
}